#ListPage {
  align-items: center;
  justify-content: space-between;
  gap: 5%;
}
#list {
  background-color: rgba(255, 255, 255, 0.437);
  height: 100%;
  width: 90%;
  border-radius: 10px;
  align-items: center;
  padding: 5%;
  overflow: scroll;
}
#list h1 {
  color: #eb2632;
  text-align: center;
  margin-bottom: 5%;
}
ul {
  list-style: none;
  text-align: center;
}
#list ul li {
  align-items: center;
  margin-bottom: 5%;
}
#list p {
  width: 80%;
}
.listScore {
  font-weight: bold;
  font-size: 18px;
}
.listPlace {
  font-weight: bold;
  font-size: 24px;
}
