#DownButton {
  width: 3%;
  z-index: 0;
}
@media (max-width: 800px) {
  #DownButton {
    width: 10%;
    z-index: 0;
  }
}
#aboutLink {
  align-items: center;
}
@keyframes jumpDown {
  80% {
    transform: translateY(0);
  }
  85% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}
#DownArrow {
  width: 50%;
  animation: jumpDown 4s infinite;
}
