#Range {
  width: 90%;
  height: 50px;
  border-radius: 50px;
  -webkit-appearance: none;
  appearance: none;
}
#Range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: red;
  height: 48px;
  border-radius: 50%;
  width: 48px;
}
.questionslide {
  justify-content: space-between;
  padding: 8% 0;
  align-items: center;
}
